
h1{
    color: rgb(36, 36, 36);
}

.container{
    padding: 1rem;
    height: 200px;
    width: 200px;
    border: 1px solid grey;
}

.container.container--red{
    background-color: red;
}

.container.container--blue{
    background-color: blue;
}